# Compiled class file
#*.class

# Log file
*.log.gz

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
#*.jar
*.war
*.nar
*.ear
#*.zip
#*.tar.gz
#*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
尓利雷特大陆RPG/.minecraft/resourcepacks/ChromaHills-128x-1.12.zip
尓利雷特大陆RPG/.minecraft/versions/尓利雷特大陆/resourcepacks/ChromaHills-128x-1.12.zip
尓利雷特大陆RPG/.minecraft/versions/测试版本/resourcepacks/ChromaHills-128x-1.12.zip
尓利雷特大陆RPG/.minecraft/versions/测试版本/mods/jython-standalone-2.7.1.jar.cache
尓利雷特大陆RPG/.minecraft/versions/测试版本/mods/Earraylate-1.0.jar.cache
*.jadx
尓利雷特大陆RPG/.minecraft/resourcepacks/ChromaHills-128x-1.12.zip
尓利雷特大陆RPG/.minecraft/versions/尓利雷特大陆/resourcepacks/ChromaHills-128x-1.12.zip
尓利雷特大陆RPG/.minecraft/versions/测试版本/resourcepacks/ChromaHills-128x-1.12.zip
*.jadx
